<!-- --- Imports --- -->
{% load static %}



<!DOCTYPE html>
<html lang="en">
    <!-- --- Head --- -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/foundation/foundation.min.css' %}">
        <title>Document</title>
    </head>



    <!-- --- Body --- -->
    <body>
        <h1>Hola desde la carpeta template</h1>
        <h3>Probando el patrón de diseño</h3>
        <a href="about.html" class="button">Learn more</a>
        <a href="#features" class="button">View all features</a>

        <button type="button" class="success button">Save</button>
        <button type="button" class="alert button">Delete</button>
    </body>
</html>






