<!-- Imports -->
{% load static %}



<!-- Html -->
<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/foundation/foundation.min.css' %}">
        <title>{% block title %}{% endblock title %}</title>
    </head>



    <!-- Body -->
    <body>
        {% block content %}{% endblock content %}



        <!-- Scripts -->
        <script src="{% static 'js/foundation/vendor/jquery.js' %}"></script>
        <script src="{% static 'js/foundation/vendor/what-input.js' %}"></script>
        <script src="{% static 'js/foundation/vendor/foundation.min.js' %}"></script>
        <script>$(document).foundation();</script>
    </body>
</html>


